<!DOCTYPE html>
<html>
  <head>
    <title>Photoupload</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= yield %>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-4">
        <footer class="blockquote-footer">
          <p>
            React on Rails App created by  <a href="https://github.com/tommycarney">Thomas Carney</a>
          </p>
        </footer>
      </div>
    </div>
  </div>
  </body>
</html>
